---
import Layout from "../layouts/Layout.astro"
---

<Layout title="about yvr.page">
  <main class="max-w-2xl flex flex-col gap-10">
    <header>
      <h1 class="text-xl">about</h1>
      <p class="text-sm text-gray-600">
        yvr.page is a directory of people and their events in Vancouver. you can use the directory to find interesting people, start conversations, and meet up.
      </p>
    </header>
    
    <section>
      <h2 class="text-lg flex-1">why?</h2>
      <p class="text-sm text-gray-600">
        meeting new people in this city can be tricky, especially if you're new. we wanted a place where we could find like-minded people who are into art, technology, music, and other creative pursits. a place where you could organize mini events, workshops, or just hang out at the park.
      </p>
    </section>


    <section>
      <h2 class="text-lg flex-1">how?</h2>
      <p class="text-sm text-gray-600">
        you can <a href="/submit" class="underline">submit</a> your profile info, and someone will review it and add you to the directory. if you want to meet others, their websites or social profiles are linked in the directory. we may add a way for people to message each other from the directory, but for now, just use the websites.
      </p>
    </section>

    <section>
      <h2 class="text-lg flex-1">vibe check?</h2>
      <p class="text-sm text-gray-600">
        every person in the directory has been vetted by a few people already in the community. we want to ensure that everyone feels comfortable and safe meeting up with each other. we're keeping the community relatively small to start, but we're open to ideas on how to improve the vibe check over time, and increase the size of the group.
      </p>
    </section>
    
    <section>
      <h2 class="text-lg flex-1">open source</h2>
      <p class="text-sm text-gray-600">
        this website is open source under the <a href="https://opensource.org/license/mit" class="underline">MIT license</a> if others want to contribute, or fork for their own city. the code is available on <a href="https://github.com/samkingco/yvr-dot-page" class="underline">github</a>. the only thing that is not open source is the data itself, which is stored in a private database.
      </p>
    </section>
  </main>
</Layout>
