---
import Heading from "@components/Heading.astro"
import Paragraph from "@components/Paragraph.astro"
import Layout from "@layouts/Layout.astro"
---

<Layout title="about yvr.page">
  <main class="max-w-xl flex flex-col gap-10">
    <header class="flex flex-col gap-2">
      <Heading level="h1">about</Heading>
      <Paragraph class="text-sm">
        yvr.page is a directory of people and their events in Vancouver. you can use the directory to find interesting people, start conversations, and meet up.
      </Paragraph>
    </header>
    
    <section class="flex flex-col gap-2">
      <Heading level="h2" class="flex-1">why?</Heading>
      <Paragraph class="text-sm">
        meeting new people in this city can be tough, especially if you're new. we wanted a place where we could find like-minded people who are into art, technology, music, and other creative pursuits. a place where you could organize mini events, workshops, or just hang out at the park.
      </Paragraph>
    </section>


    <section class="flex flex-col gap-2">
      <Heading level="h2" class="flex-1">how?</Heading>
      <Paragraph class="text-sm">
        you can <a href="/auth/signup" class="internal-link font-bold">sign up</a> and submit your profile info. someone will review it and add you to the directory. we typically review new profiles every few days.
      </Paragraph>
      <Paragraph class="text-sm">
        if you want to meet others, their websites or social profiles are linked in the directory. we'll add a way for people to message each other from the directory, but that's a task for later.
      </Paragraph>
    </section>

    <section class="flex flex-col gap-2">
      <Heading level="h2" class="flex-1">vibe check?</Heading>
      <Paragraph class="text-sm">
        we want to ensure that everyone feels comfortable and safe meeting up with each other. we're keeping the community relatively small to start, and hand reviewing each profile, but this may change as the community grows.
      </Paragraph>
    </section>
    
    <section class="flex flex-col gap-2">
      <Heading level="h2" class="flex-1">open source</Heading>
      <Paragraph class="text-sm">
        this website is open source under the <a href="https://opensource.org/license/mit" class="internal-link font-bold">MIT license</a> if others want to contribute, or fork for their own city. the code is available on <a href="https://github.com/samkingco/yvr-dot-page" class="internal-link font-bold">github</a>. the only thing that is not open source is the data itself, which is stored in a private database.
      </Paragraph>
    </section>
  </main>
</Layout>
