---
import { drizzle } from "drizzle-orm/d1"
import Person from "../components/Person.astro"
import { schema } from "../db"
import Layout from "../layouts/Layout.astro"

const { env } = Astro.locals.runtime
const db = drizzle(env.DB, { schema })

const people = await db.query.people.findMany({
	where: (p, { isNotNull }) => isNotNull(p.approvedAt),
})
---

<Layout title="Vancouver, BC">
  <main class="max-w-2xl flex flex-col gap-10">
    <header>
      <h1 class="text-xl">yvr.page</h1>
      <p class="text-sm text-gray-600">
        a community site for meeting new folks in Vancouver, BC
      </p>
    </header>

    <section class="flex flex-col gap-4">
      <h2 class="text-lg flex-1"><a href="/people" class="hover:underline">people</a></h2>
      <ul class="gap-4 flex flex-col">
        {people.map((person) => (
          <li>
            <Person
              username={person.username}
              name={person.name ?? undefined}
              does={person.does}
              website={person.website}
              bio={person.bio}
            />
          </li>
        ))}
      </ul>
    </section>
  </main>
</Layout>
