---
import Person from "../components/Person.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout title="Vancouver, BC">
  <main class="max-w-2xl flex flex-col gap-10">
    <header>
      <h1 class="text-xl">yvr.page</h1>
      <p class="text-sm text-gray-600">
        a community site for meeting new folks in Vancouver, BC
      </p>
    </header>

    <section class="flex flex-col gap-4">
      <h2 class="text-lg flex-1">people</h2>
      <ul class="gap-4 flex flex-col">
        <li>
          <Person
            username="sam"
            name="Sam King"
            does="Software Engineering"
            website="https://samking.co"
            bio="Former photographer, turned designer, turned software engineer. Currently working at Future Primitive making photography related software. Also building Refrakt, a platform for sharing photography."
          />
        </li>
      </ul>
    </section>
  </main>
</Layout>
