---
import Heading from "./Heading.astro"
import Paragraph from "./Paragraph.astro"

interface Props {
	username: string
	name?: string | null
	does: string
	website: string
	bio: string
}

const { username, name, does, website, bio } = Astro.props
---

<div>
  <div class="flex gap-2 items-baseline">
    <Heading level="h3">
      <a href={website} class="internal-link">{name ?? `@${username}`}</a>
    </Heading>
    <Paragraph class="text-sm">
      &ndash; {does}
    </Paragraph>
  </div>
  <Paragraph class="text-sm">{bio}</Paragraph>
</div>
