---
interface Props {
	username: string
	name?: string
	does: string
	website: string
	bio: string
}

const { username, name, does, website, bio } = Astro.props
---

<div>
  <div class="flex gap-2 items-baseline">
    <h3 class="text-md">
      <a href={website}>{name ?? `@${username}`}</a>
    </h3>
    <p class="text-sm text-gray-600">
      <span class="text-gray-400">&mdash;</span>
      {does}
    </p>
  </div>
  <p class="text-sm text-gray-600">{bio}</p>
</div>
