---
interface Props {
	title: string
}

const { title } = Astro.props

const pathname = new URL(Astro.request.url).pathname
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="p-4 md:p-8 lg:p-12">
    <nav class="mb-12">
      <ul class="flex gap-6 text-sm">
        <li class="text-sm font-bold">
          {pathname === "/"
            ? <p class="active-link leading-tight">directory</p>
            : <a href="/" class="block internal-link leading-tight">directory</a>
          }
        </li>
        <li class="text-sm font-bold">
          {pathname === "/about"
            ? <p class="active-link leading-tight">about</p>
            : <a href="/about" class="block internal-link leading-tight">about</a>
          }
        </li>
        <li class="text-sm font-bold">
          {pathname === "/submit"
            ? <p class="active-link leading-tight">submit</p>
            : <a href="/submit" class="block internal-link leading-tight">submit</a>
          }
        </li>
      </ul>
    </nav>
  </body>
</html>
<slot />

<style is:global>
  @font-face {
    font-family: "CommitMono";
    src: url("/fonts/CommitMono VariableFont.woff2") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  :root {
    --foreground: 240, 10%, 10%;
    --background: 40, 10%, 98%;
  }
  
  
  @media (prefers-color-scheme: dark) {
    :root {
      --foreground: 240, 10%, 90%;
      --background: 40, 10%, 4%;
    }
  }
  
  html {
    font-size: 14px;
  }

  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "ss01", "ss03", "ss04", "ss05";
    background: hsla(var(--background), 1);
    color: hsla(var(--foreground), 1);
  }

  .invert {
    --foreground: var(--background);
    --background: var(--foreground);
  }

  .active-link {
    @apply text-background bg-foreground;
  }

  .internal-link {
    @apply hover:text-background hover:bg-foreground;
    @apply focus-visible:text-background focus-visible:bg-foreground outline-none;
  }
</style>
