---
interface Props {
	title: string
}

const { title } = Astro.props

const pathname = new URL(Astro.request.url).pathname
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="p-4 md:p-8 lg:p-12">
    <nav class="mb-12">
      <ul class="flex gap-6 text-sm">
        <li>
          {pathname === "/" ? <span class="underline">directory</span> : 
          <a href="/" class="hover:text-gray-600">directory</a>
        }
        </li>
        <li>
          {pathname === "/about" ? <span class="underline">about</span> : 
          <a href="/about" class="hover:text-gray-600">about</a>
        }
        </li>
        <li>
          {pathname === "/submit" ? <span class="underline">submit</span> : 
          <a href="/submit" class="hover:text-gray-600">submit</a>
        }
        </li>
      </ul>
    </nav>
  </body>
</html>
<slot />

<style is:global>
  @font-face {
    font-family: "CommitMono";
    src: url("/fonts/CommitMono VariableFont.woff2") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  html {
    font-size: 14px;
  }

  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "ss01", "ss03", "ss04", "ss05";
  }
</style>
