---
import Paragraph from "../components/Paragraph.astro"

interface Props {
	title: string
}

const { title } = Astro.props

const pathname = new URL(Astro.request.url).pathname
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="pt-8 pb-16 px-4 md:px-8 lg:px-12 lg:pt-12">
    <nav class="mb-12">
      <ul class="flex gap-6 text-sm">
        <li>
          <Paragraph class="text-sm font-bold">
            {pathname === "/"
              ? <span class="active-link">directory</span>
              : <a href="/" class="internal-link">directory</a>
            }
          </Paragraph>
        </li>
        <li>
          <Paragraph class="text-sm font-bold">
            {pathname === "/about"
              ? <span class="active-link">about</span>
              : <a href="/about" class="internal-link">about</a>
            }
          </Paragraph>
        </li>
        <li>
          <Paragraph class="text-sm font-bold">
            {pathname === "/submit"
              ? <span class="active-link">submit</span>
              : <a href="/submit" class="internal-link">submit</a>
            }
          </Paragraph>
        </li>
      </ul>
    </nav>
  </body>
</html>
<slot />

<style is:global>
  @font-face {
    font-family: "CommitMono";
    src: url("/fonts/CommitMono VariableFont.woff2") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  :root {
    --foreground: 240, 10%, 10%;
    --background: 40, 10%, 98%;
  }
  
  
  @media (prefers-color-scheme: dark) {
    :root {
      --foreground: 240, 10%, 90%;
      --background: 40, 10%, 4%;
    }
  }
  
  html {
    font-size: 14px;
  }

  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "ss01", "ss03", "ss04", "ss05";
    background: hsla(var(--background), 1);
    color: hsla(var(--foreground), 1);
  }

  .invert {
    --foreground: var(--background);
    --background: var(--foreground);
  }

  .active-link {
    @apply text-background bg-foreground;
    @apply px-0.5 -mx-0.5;
  }

  .internal-link {
    @apply hover:text-background hover:bg-foreground;
    @apply focus-visible:text-background focus-visible:bg-foreground outline-none;
    @apply px-0.5 -mx-0.5;
    @apply motion-safe:transition-colors motion-safe:duration-150 motion-safe:ease-out;
  }
</style>
