---
import Heading from "../../components/Heading.astro"
import Paragraph from "../../components/Paragraph.astro"
import Layout from "../../layouts/Layout.astro"
---

<Layout title="people of yvr.page">
  <main class="max-w-lg flex flex-col gap-10">
    <Heading level="h1">events</Heading>
    <Paragraph class="text-sm">
      coming soon. dm <a href="/people/sk" class="font-bold internal-link">sam</a> if you're interested in hosting or sponsoring an event.
    </Paragraph>
  </main>
</Layout>
