---
import Layout from "../../layouts/Layout.astro"
---

<Layout title="submission successful">
  <main class="max-w-lg">
    <h1 class="text-heading-three font-normal">submitted</h1>
    <p class="text-sm leading-tight">we usually review and publish profiles within a few days, so check back soon!</p>
  </main>
</Layout>
