---
import Layout from "../../layouts/Layout.astro"
---

<Layout title="submission successful">
  <main>
      <h1 class="text-xl">submitted</h1>
      <p class="text-sm text-gray-600">We typically review profiles every few days so check back soon!</p>
  </main>
</Layout>
